.tc-select {
  position: relative;
  width: 350px;
  height: 60px;

  // @media (max-width: 1500px) {
  //   width: 230px;
  // }

  .test {
    position: absolute;
    width: 100%;

    .panel {
      background-color: #FFF;

      mat-expansion-panel-header {
        height: 36px !important; // 讓展開時高度不會隨著改變

        // @media (max-width: 1500px) {
        //   padding: 0 14px;
        // }

        mat-panel-title {
          font-size: 16px;
          font-weight: 600;
          margin-bottom: -2px; // 待調整

          .need-select {
            display: inline-block;
            color: red;
          }

          // @media (max-width: 1500px) {
          //   font-size: 14px;
          // }
        }
      }
    }

  }
}

// 第一層tab樣式設定
// label顏色
::ng-deep .light-theme .mat-tab-label, .light-theme .mat-tab-link {
  color: #000;
  font-size: 18px;
  font-weight: 600;
}

// bar樣式
::ng-deep .mat-ink-bar {
  background-color: #000 !important;
  border-radius: 9999px;
  height: 1px !important;
}


// 第二層tab樣式設定
// label顏色
::ng-deep .light-theme .sub-tab .mat-tab-label, .light-theme .mat-tab-link {
  background-color: #fff;
  color: #404040;
  border: 1px solid #005581;
  font-size: 17px;
  font-weight: 600;
  height: 36px;
  margin: 8px 4px;
  border-radius: 4px;
}

// bar樣式
::ng-deep .sub-tab .mat-ink-bar {
  display: none;
}

// 點擊後樣式設定
::ng-deep .light-theme .sub-tab .mat-tab-label-active, .light-theme .mat-tab-link-active {
  background-color: #005581;
  color: #fff;
}

.none {
  display: none;
}

// // 先不要動
// .main-road-list {
//   width: 420px;
//   position: absolute;
//   z-index: 9999;
//   top: 84px;
//   left: 433px;

//   @media (max-width: 1500px) {
//     width: 230px;
//     left: 290px;
//     top: 166px;
//   }

//   mat-expansion-panel-header {
//     height: 36px !important;

//     @media (max-width: 1500px) {
//       padding: 0 14px;
//     }

//     mat-panel-title {
//       font-size: 16px;
//       font-weight: 600;
//       margin-bottom: -2px; // 待調整

//       @media (max-width: 1500px) {
//         font-size: 14px;
//       }
//     }
//   }
// }

// // 先不要動
// .main-road-none {
//   display: none;
// }





