.quality-result {
  // width: calc(100vw - 69px);
  width: 100%;
  height: calc(100vh - 161px);
  padding: 16px;
  border-radius: 8px 0 0 8px;
  background-image: url('../../../assets/icons/background.png');
  color: #000;
  overflow-y: hidden; // 最外層隱藏
  overflow-x: hidden;

  .click-search {
    position: absolute;
    z-index: 999999;
    top: 19px;
    left: 500px;
    border: 1px solid #FFF;
    border-radius: 4px;
    background: #005581;
    cursor: pointer;
    padding: 8px 10px;
    color: #FFF;
    font-family: "Noto Sans CJK TC";
    font-size: 16px;
  }

  .download {
    position: absolute;
    z-index: 999999;
    top: 19px;
    right: 40px;
    border: 1px solid #FFF;
    border-radius: 4px;
    background: #005581;
    cursor: pointer;
    padding: 8px 10px;
    color: #FFF;
    font-family: "Noto Sans CJK TC";
    font-size: 16px;
  }

  .all-section {
    display: flex;
    width: 100%;
    height: calc(100vh - 280px);
    margin-top: 80px;
    overflow-y: scroll;
    padding-left: 20px;
    padding-right: 20px;

    .section {
      position: relative;
      width: 100%;

      .direction {
        position: fixed;
        display: flex;
        align-items: center;
        width: 50px;
        height: 470px;
        writing-mode: vertical-lr;
        padding-top: 20px;

        @media (max-width: 1500px) {
          height: 320px;
        }

        h1 {
          color: #242424;
          font-family: "Noto Sans CJK TC";
          font-size: 16px;
          font-weight: 500;
        }
      }
    }

    // .section-left {
    //   margin-right: 40px;
    // }

    .left-direction {
      background: linear-gradient(180deg, #A9DEF1 0%, rgba(169, 222, 241, 0.00) 100%);

    }

    .right-direction {
      background: linear-gradient(180deg, #FBAC00 0%, rgba(251, 172, 0, 0.00) 100%);
    }

    .result {
      .result-img {
        position: relative;
        width: calc(100% - 75px);
        height: 320px;
        margin-left: 75px;
        // margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        // border: 1px solid #fa0; // 測試
        // background-color: #d0f4de; // 測試

        @media (max-width: 1500px) {
          margin-left: 35px;
        }

        .direction-info {
          position: absolute;
          z-index: 10;
          top: 22px;
          right: 228px;

          .west {
            transform: rotate(90deg);
            margin-bottom: 4px; // 待調整
          }

          span {
            font-size: 16px;
            color: #000;
            font-family: "Noto Sans CJK TC";
            font-weight: 400;
          }

          .text-west {
            margin-left: 8px;
          }

          .text-north {
            margin-left: -2px;
            margin-bottom: 8px;
            display: block;
          }
        }

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
