@import "src/app/styles/nz-style-custom";

.account-setting {
  .checkbox {
    margin: 20px 0px;

    .title-section {
      display: flex;
      align-items: center;
      height: 45px;

      h3 {
        color: black;
        font-size: 1.2rem;
        margin: 0;
      }

      .tab-section {
        margin-left: 12px;
        border-bottom: 1px solid grey;

        .tab-option {
          // border: 1px solid #fa0;
          background-color: #E4E4E4;
          border-radius: 8px 8px 0 0 ;
          padding: 4px 12px;
          font-size: 20px;
          cursor: pointer;

          &:first-child {
            margin-right: 10px;
          }
        }
      }
    }

    .container {
      display: flex;
      flex-wrap: wrap;
      overflow: auto;

      >div {
        width: 100%;
        margin: 10px 0;
      }

      .permission {
        width: 100%;
      }
    }
  }

  .btn-container {
    text-align: end;
  }
}

.auth-select {
  display: flex;
  width: 100% !important;
  height: 175px;
  overflow-y: auto;
  gap: 40px;

  .test {
    width: 100% !important;

    .each-section {
      width: 45%;
    }
  }
}
