// @import "src/app/styles/default/font";
// @import "src/app/styles/default/variables";
// @media (max-width: $large) {
//   font-size: $fs-medium;
// }

$fw-lighter: 400;
$fw-normal: 500;
$fw-bold: 600;


$fs-xs: 12px;
$fs-small: 14px;
$fs-normal: 16px;
$fs-regular: 18px;
$fs-medium: 24px;
$fs-large: 36px;
$fs-xl: 50px;
$fs-xxl: 100px;
$fs-title: 21px;

$fs-card-title: 15px;
$fs-card-subtitle: 9.5px;
$ff-card: Noto Sans CJK TC, sans-serif;



