<div class="time-select">
  <div class="test">
    <mat-expansion-panel [(expanded)]="panelOpen" class="panel" #panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
         時段選擇<span class="need-select">*</span> | {{ selectTime }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-radio-group class="radio-group" [(ngModel)]="selectTime">
        <mat-radio-button class="radio-button" *ngFor="let option of timeOption" [value]="option['name']" (change)="selectChange(option)" (click)="close()">
          {{ option.name }}
        </mat-radio-button>
      </mat-radio-group>
    </mat-expansion-panel>
  </div>
</div>
